*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 14px 26px;
}

.section{
  background-color: blueviolet;
  min-height: 300px;
  display: flex;
  justify-content: space-between;
}
 
.herobox1{
  width: 40%;
  background-color: bisque;
  min-height: 200px;
}
.herobox2{
  width: 40%;
  background-color: rgb(117, 8, 84);
  min-height: 200px;
}
.logo img{
  width: 30%;
  height: 30%;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  display: flex;
  gap: 40px;
}

nav a{
  font-size: 20px;
  color: black;
}

